[tool.poetry]
name = "clientele"
version = "0.6.2"
description = "Generate loveable Python HTTP API Clients"
authors = ["Paul Hallett <paulandrewhallett@gmail.com>"]
license = "MIT"
readme = "README.md"
packages = [{include = "src"}]
homepage = "https://phalt.github.io/clientele/"

[tool.poetry.scripts]
clientele = "src.cli:cli_group"

[tool.poetry.dependencies]
python = "^3.9"
httpx = "^0.24.1"
click = "^8.1.3"
pydantic = "^2.4"
rich = "^13.4.2"
openapi-core = "0.18.0"
pyyaml = "^6.0.1"
types-pyyaml = "^6.0.12.11"
jinja2 = "^3.1.2"

[tool.poetry.group.dev.dependencies]
black = "^23.3.0"
mypy = "1.4.0"
ruff = "^0.0.272"
mkdocs = "^1.4.3"
ipython = "^8.14.0"
mkdocs-material = "^9.1.19"
respx = "^0.20.2"
pytest = "^7.4.0"
pytest-asyncio = "^0.21.1"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.ruff]
line-length = 120
select = [
    # Pyflakes
    "F",
    # Pycodestyle
    "E",
    "W",
    # isort
    "I001"
]
