from __future__ import annotations

import typing  # noqa

from {{client_project_directory_path}} import http, schemas  # noqa


class Client:
    """
    API Client for making requests.
    
    Use this client to make requests to the API endpoints.
    """
    
    def __init__(self):
        pass
