

async def get(url: str, headers: typing.Optional[dict] = None) -> httpx.Response:
    """ Issue an HTTP GET request """
    return await client.get(parse_url(url), headers=headers)

async def post(url: str, data: dict, headers: typing.Optional[dict] = None) -> httpx.Response:
    """ Issue an HTTP POST request """
    return await client.post(parse_url(url), json=data, headers=headers)

async def put(url: str, data: dict, headers: typing.Optional[dict] = None) -> httpx.Response:
    """ Issue an HTTP PUT request """
    return await client.put(parse_url(url), json=data, headers=headers)

async def delete(url: str, headers: typing.Optional[dict] = None) -> httpx.Response:
    """ Issue an HTTP DELETE request """
    return await client.delete(parse_url(url), headers=headers)
