client_headers = c.additional_headers()
_limits = c.get_limits()
_transport = c.get_transport()
_client_kwargs = dict(
    auth=(c.get_user_key(), c.get_pass_key()),
    headers=client_headers,
    timeout=c.get_timeout(),
    follow_redirects=c.get_follow_redirects(),
    verify=c.get_verify_ssl(),
    http2=c.get_http2(),
    max_redirects=c.get_max_redirects(),
)
if _limits is not None:
    _client_kwargs['limits'] = _limits
if _transport is not None:
    _client_kwargs['transport'] = _transport
client = httpx.{{client_type}}(**_client_kwargs)


{% if client_type == 'AsyncClient' %}
@contextlib.asynccontextmanager
async def _client_context():
    """Async context manager for the HTTP client."""
    yield client
{% endif %}
