

auth_key = c.get_bearer_token()
client_headers = c.additional_headers()
client_headers.update(Authorization=f'Bearer {auth_key}')
client = httpx.{{client_type}}(
    headers=client_headers,
    timeout=c.get_timeout(),
    follow_redirects=c.get_follow_redirects(),
    verify=c.get_verify_ssl(),
    http2=c.get_http2(),
    max_redirects=c.get_max_redirects(),
)


{% if client_type == 'AsyncClient' %}
@contextlib.asynccontextmanager
async def _client_context():
    """Async context manager for the HTTP client."""
    yield client
{% endif %}
