

{{asyncio and "async " or ""}}def {{func_name}}({{function_arguments.get_path_args_as_string()}}{% if header_class_name %}{% if function_arguments.get_path_args_as_string()%}, {% endif %}headers: {{header_class_name}} = None{% endif %}) -> {{response_types}}:
    {% if summary or description or deprecated %}"""{% if summary %} {{summary}}{% endif %}{% if description %}
    
    {{description}}{% endif %}{% if deprecated %}
    
    .. deprecated::
        This operation is deprecated and may be removed in a future version.{% endif %}
    """{% endif %}
    {% if header_class_name %}headers_dict: dict | None = headers.model_dump(by_alias=True, exclude_unset=True) if headers else None {% else%}{% endif %}
    response = {{asyncio and "await " or ""}}http.{{method}}(url=f"{{api_url}}"{% if header_class_name %}, headers=headers_dict{% endif %})
    return http.handle_response({{func_name}}, response)
