# Manifest

Generated with [https://github.com/phalt/clientele](https://github.com/phalt/clientele)

Install with pipx:

```sh
pipx install clientele
```

Or with uv:

```sh
uv tool install clientele
```

API VERSION: {{api_version}}
OPENAPI VERSION: {{openapi_version}}
CLIENTELE VERSION: {{clientele_version}}

Regenerate using this command:

```sh
clientele generate {{command}}
```
