

def get(url: str, headers: typing.Optional[dict] = None) -> httpx.Response:
    """Issue an HTTP GET request"""
    if headers:
        client_headers.update(headers)
    return client.get(parse_url(url), headers=client_headers)


def post(url: str, data: dict, headers: typing.Optional[dict] = None) -> httpx.Response:
    """Issue an HTTP POST request"""
    if headers:
        client_headers.update(headers)
    json_data = json.loads(json.dumps(data, default=json_serializer))
    return client.post(parse_url(url), json=json_data, headers=client_headers)


def put(url: str, data: dict, headers: typing.Optional[dict] = None) -> httpx.Response:
    """Issue an HTTP PUT request"""
    if headers:
        client_headers.update(headers)
    json_data = json.loads(json.dumps(data, default=json_serializer))
    return client.put(parse_url(url), json=json_data, headers=client_headers)


def patch(url: str, data: dict, headers: typing.Optional[dict] = None) -> httpx.Response:
    """Issue an HTTP PATCH request"""
    if headers:
        client_headers.update(headers)
    json_data = json.loads(json.dumps(data, default=json_serializer))
    return client.patch(parse_url(url), json=json_data, headers=client_headers)


def delete(url: str, headers: typing.Optional[dict] = None) -> httpx.Response:
    """Issue an HTTP DELETE request"""
    if headers:
        client_headers.update(headers)
    return client.delete(parse_url(url), headers=client_headers)
