"""
API Client functions.
"""

from __future__ import annotations

import typing  # noqa

{% if client_project_directory_path %}from {{client_project_directory_path}} import http, schemas  # noqa
{% else %}from . import http, schemas  # noqa
{% endif %}
