# Manifest

Generated with [https://github.com/phalt/clientele](https://github.com/phalt/clientele)

Install with pip:

```sh
pip install clientele
```

Or with uv:

```sh
uv add clientele
```

API VERSION: {{api_version}}
OPENAPI VERSION: {{openapi_version}}
CLIENTELE VERSION: {{clientele_version}}

Regenerate using this command:

```sh
clientele start-api {{command}}
```
