from __future__ import annotations

import clientele
{% if client_project_directory_path %}from {{client_project_directory_path}}.client import config, schemas
{% else %}from . import config, schemas
{% endif %}
client = clientele.Client(config=config.Config())
