

{% if response_map %}
@client.{{method}}("{{api_url}}", response_map={{response_map}})
{% else %}
@client.{{method}}("{{api_url}}")
{% endif %}
{{asyncio and "async " or ""}}def {{func_name}}({{function_arguments.get_required_args_as_string()}}{% if function_arguments.get_required_args_as_string() and function_arguments.get_optional_args_as_string() %}, {% endif %}{{function_arguments.get_optional_args_as_string()}}{% if function_arguments.get_path_args_as_string() or function_arguments.get_optional_args_as_string() %}, *, {% else %}*, {% endif %}{% if header_class_name %}headers: {{header_class_name}} = None, {% endif %}result: {{response_types}}) -> {{response_types}}:
    {% if summary or description or deprecated %}"""{% if summary %}{{summary}}{% endif %}{% if description %}

    {{description}}{% endif %}{% if deprecated %}

    .. deprecated::
        This operation is deprecated and may be removed in a future version.{% endif %}
    """{% endif %}
    return result
